/* ADMIN CSS FOR THE CONNECT WITH ME PLUGIN */
p.cwm-help { color: #333; font: 12px 'Lucida Grande','Lucida Sans Unicode', tahoma, sans-serif; text-shadow: 1px 1px 1px #fff; }
p.cwm-help span { color: #000; font-weight: bold; }
p.cwm-help em b { color: #5e768a; }